@{
    ViewBag.Title = "Home Page";
}

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }

    .carousel-caption {
        background: rgba(8, 37, 118, 0.62);
    }

    .card:hover {
        -webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
    }

    social-list-item a {

   font-family: "fontello";
   font-size:2em;
    font-weight:700;
    border-radius:50%;
    color:#fff;
    display:block;
    height:60px;
    line-height:60px;
    text-decoration: none;
    text-shadow:none;
    width:60px;

}

</style>


<ul id="socia-list">

    <li class="social-list-item">
        <a class="icon-facebook" title="Facebook" href="#"></a>
    </li>
</ul>

<div class="container">
    <br>
    <div id="carouselPrincipal" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselPrincipal" data-slide-to="0" class="active"></li>
            <li data-target="#carouselPrincipal" data-slide-to="1"></li>
            <li data-target="#carouselPrincipal" data-slide-to="2"></li>
            <li data-target="#carouselPrincipal" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">

                <img src="~/Images/Asistencia1.jpg" height="400" alt="Asistencia1">
                <div class="carousel-caption">
                    <h3 style="background-color:rgb(255, 255, 255) !important;">soluciones inteligentes C.A. </h3>
                    <p>Contamos con sistemas de control de asistencia para tus colaboradores, con el fin de tener un registro de todas sus entradas y salidas, así como tener un cálculo preciso del tiempo laborado.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/Asistencia2.jpg" height="400" alt="Asistencia2">
                <div class="carousel-caption">
                    <h3 style="background-color:rgb(255, 255, 255) !important;">diferentes sistemas C.A.</h3>
                    <p>Las diferentes tecnologías que ofrecemos junto con el software para llevar un correcto registro de las entradas y salidas, faltas, vacaciones, permisos y más funciones, son una herramienta indispensable para poder realizar la prenómina de su empresa.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/Asistencia3.jpg" height="400" alt="Asistencia3">
                <div class="carousel-caption">
                    <h3 style="background-color:rgb(255, 255, 255) !important;">Le asesoramos</h3>
                    <p>en que tecnología es la ideal para su empresa en base a las instalaciones, cantidad de usuarios y tipo de tecnología más adecuada. </p>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/Asistencia4.jpg" height="400" alt="Asistencia4">
                <div class="carousel-caption">
                    <h3 style="background-color:rgb(255, 255, 255) !important;">Contamos con las marcas </h3>
                    <p>líderes en el mercado buscando ofrecer una solución llave en mano para nuestros clientes.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/hqdefault.jpg" height="400" alt="Asistencia4">
                <div class="carousel-caption">
                    <h3 style="background-color:rgb(255, 255, 255) !important;">Contamos con las marcas </h3>
                    <p>líderes en el mercado buscando ofrecer una solución llave en mano para nuestros clientes.</p>
                </div>
            </div>

        </div>

        <!-- Controles de Navegacion -->
        <a class="left carousel-control" href="#carouselPrincipal" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Atras</span>
        </a>
        <a class="right carousel-control" href="#carouselPrincipal" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>



<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            La detección de una situación anómala en el menor tiempo posible o la posibilidad de adelantarse a hechos futuribles,Se utiliza la filosofía de BI
            (Business Inteligence), extrayendo la información del Sistema Transaccional y almacenando la misma en un repositorio. Es un programa de control horario personal ágil,
            potente y a la vez flexible, ya que permite modificaciones para adaptar su funcionamiento a las necesidades de cada cliente.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Mision</h2>
        <p>
            Depende de muchos factores: un pedido o la anulación a última hora, incrementa o disminuye la demanda, etc. Por lo que se deben de utilizar herramientas
            que le permitan adaptarse y flexibilizarse con pocos cambios.En su apartado de control de asistencia de los trabajadores,
            tiene como objetivo generar unos totales acumulados de los distintos tipos de horas de cada Empleado
        </p>

    </div>

</div>

<div class="container text-muted">

    <div class="row">

        <div class="col-md-6 col-lg-3">

            <div class="card">

                <img src="~/images/14de9e6b68c25ee172216ba6538b5416-product.jpg" class="card-img-top img-fluid">

                <div class="card-block">

                    <h3 class="card-title">Mesa para Ninos</h3>
                    <p>Si quieres ver mas sobre nuestros productos artesanales contactenos al:</p>
                </div>

            </div>

        </div>

        <div class="col-md-6 col-lg-3">

            <div class="card">

                <img src="~/images/c11ef9c2fb630d7502dc50b43cd74e00-product.jpg" class="card-img-top img-fluid">

                <div class="card-block">

                    <h3 class="card-title">Node.js Traning</h3>
                    <p>Bienvenido a tus curos en linea. Si quieres entrar tienes que registrarse</p>
                </div>

            </div>

        </div>

        <div class="col-md-6 col-lg-3">

            <div class="card">

                <img src="~/images/14de9e6b68c25ee172216ba6538b5416-product.jpg" class="card-img-top img-fluid">

                <div class="card-block">

                    <h3 class="card-title">Node.js Traning</h3>
                    <p>Bienvenido a tus curos en linea. Si quieres entrar tienes que registrarse</p>
                </div>

            </div>

        </div>

        <div class="col-md-6 col-lg-3">

            <div class="card">

                <img src="~/images/14de9e6b68c25ee172216ba6538b5416-product.jpg" class="card-img-top img-fluid">

                <div class="card-block">

                    <h3 class="card-title">Node.js Traning</h3>
                    <p>Bienvenido a tus curos en linea. Si quieres entrar tienes que registrarse</p>
                </div>

            </div>

        </div>

    </div>
</div>